<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>🪴식집사</title>
		<link rel="stylesheet" href="/static/style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<div class="center">
			<img src="/static/garden.jpeg" alt="" id="mainImage" />
			<br />
			<h2>당신의 공간에 가장 알맞은 식물을 찾아드려요!</h2>
			<br /><br />
			<div id="menu">
				<button id="connectBtn" onclick="location.href='piConnect.html'">
					1. 집사와 연결확인하기
				</button>
				<br />
				<button class="measureBtn" onclick="location.href='startTest.html'">
					2. 공간과 가장 잘 맞는 식물 찾기
				</button>
				<br />
				<button class="findPotBtn">3. 가장 잘 어울리는 화분 색 찾기</button>
			</div>
		</div>
	</body>
</html>
